<div>
  <!-- Form的Submit方法 -->
  <form (ngSubmit)="Save(formShorter)" [formGroup]="formShorter">
    <p> Original Url</p>
    <!--formControlName 就是Form對應-->
    <input type="url" pInputText placeholder="your Url" formControlName="longUrl" />
    <p> Short Url</p>
    <input type="url" pInputText formControlName="shortUrl" />
    <p></p>
    <p-button icon="pi pi-check" iconPos="left" type="submit" label="Submit"></p-button>
    <p></p>
    <p-button icon="pi pi-save" label="Copy" (click)="SetCopy()"></p-button>
  </form>
</div>
